<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>parent-subtrees.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F513A66D1F28BF2500A6ADE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F513A6811F28BF2500A6ADE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F513A68C1F28BF2500A6ADE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
